
      <p>&nbsp;</p>
      <div class="page-description">
        <h1><%= @animal.name %></h1>
        <h2><%= @animal.animal_type %></h2>
        <%= image_tag @animal.pictures, class: "image-animal" %>
        <br><br>

        <p class="card-text"><br>

        <%= @animal.description %><br>
        Size: Medium<br>
        Weight: 19lbs<br><br>
        Milo and Otis are adorable, the perfect size, and the perfect age. These studmuffins have recently moved here from Texas and are looking forward to a fresh start here in the Wood River Valley. Because of the amount of change they’ve experienced in their young lives, these youngsters are looking for some consistency, some basic rules and guidance, and also some fun and some love. Come introduce yourself to Milo and Otis and prepare to fall in love!</p>

        <h4 class="card-title">Location: Animal Shelter of the Wood River Valley - Hailey, Idaho, United States</h4>
        <br>
        <%= link_to "RESERVE FORM", new_animal_reservation_path(@animal), class: "btn btn-primary" %>
        <p>&nbsp;</p>
      </div>
              <p>&nbsp;</p>
